ul,
li {
  list-style-type: none;
}

.profile-list {
  overflow: hidden;
  min-width: 190px;
}

.profile-items {
  flex: 0 1 360px;
  min-width: 230px;
  border: 1px solid #dedede;
  padding-inline-start: 0;
}

.profile-items li:not(:last-child) {
  border-bottom: 1px solid #dedede;
}

.profile-button {
  width: 100%;
  text-align: left;
  color: inherit;
}

button:focus,
button:active {
  background-color: rgba(15, 127, 250);
  color: white;
}